<div class="container">
  <div class="row">
    <h2 class="text-center">THÊM MỚI HỢP ĐỒNG</h2>
    <form class="row g-3">
      <div class="col-md-4">
        <label for="inputState" class="form-label">Khách hàng</label>
        <select id="inputState" class="form-select">
          <option selected>-- Chọn khách hàng --</option>
          <option>...</option>
        </select>
      </div>

      <div class="col-md-4">
        <label for="inputState" class="form-label">Dịch vụ</label>
        <select class="form-select">
          <option selected>-- Chọn dịch vụ --</option>
          <option>...</option>
        </select>
      </div>

      <div class="col-md-4">
        <label for="inputState" class="form-label">Nhân viên lập hợp đồng</label>
        <select class="form-select">
          <option selected>-- Chọn nhân viên --</option>
          <option>...</option>
        </select>
      </div>

      <div class="col-md-3">
        <label for="inputPassword4" class="form-label">Ngày bắt đầu</label>
        <input type="date" class="form-control" >
      </div>
      <div class="col-md-3">
        <label for="inputPassword4" class="form-label">Ngày kết thúc</label>
        <input type="date" class="form-control" >
      </div>

      <div class="col-md-3">
        <label for="inputPassword4" class="form-label">Tiền đặt cọc</label>
        <input type="text" class="form-control" id="inputPassword4">
      </div>
      <div class="col-md-3">
        <label for="inputPassword4" class="form-label">Tổng tiền thanh toán</label>
        <input type="text" class="form-control" >
      </div>

      <div class="col-12">
        <button type="submit" class="btn btn-primary">Xác nhận</button>
      </div>
    </form>
  </div>

</div>
