<div class="container">
  <div class="row">
    <h2 class="text-center">THÊM MỚI NHÂN VIÊN</h2>
    <form class="row g-3" [formGroup]="updateForm" (ngSubmit)="updateEmployee()">
      <div class="col-md-2">
        <label for="customerId" class="form-label">Mã nhân viên</label>
        <input type="text" class="form-control" id="customerId" required="required" formControlName="id">
        <div class="text-danger"
             *ngIf="updateForm.get('id').hasError('required') && updateForm.get('id').dirty">
          Mục này không được để trống.
        </div>
        <div class="text-danger"
             *ngIf="updateForm.get('id').hasError('pattern')">
          Mã nhân viên không hợp lệ.
        </div>
      </div>


      <div class="col-md-4">
        <label for="customerName" class="form-label">Họ và tên</label>
        <input type="text" class="form-control" id="customerName" required="required" formControlName="name">
        <div class="text-danger"
             *ngIf="updateForm.get('name').hasError('required') && updateForm.get('name').dirty">
          Mục này không được để trống.
        </div>
      </div>

      <div class="col-md-4">
        <label for="customerBirthday" class="form-label">Ngày sinh</label>
        <input type="date" class="form-control" id="customerBirthday" required="required" formControlName="birthday">
        <div class="text-danger"
             *ngIf="updateForm.get('birthday').hasError('required') && updateForm.get('birthday').dirty">
          Mục này không được để trống.
        </div>
      </div>


      <div class="col-md-2">
        <label class="form-label">Giới tính</label>
        <div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" value="1" required="required" formControlName="gender">
            <label class="form-check-label" >Nam</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" value="0" required="required" formControlName="gender">
            <label class="form-check-label" >Nữ</label>
          </div>
        </div>
      </div>



      <div class="col-md-3">
        <label for="customerIdCard" class="form-label">Chứng minh nhân dân</label>
        <input type="text" class="form-control" id="customerIdCard" required="required" formControlName="idCard">
        <div class="text-danger"
             *ngIf="updateForm.get('idCard').hasError('required') && updateForm.get('idCard').dirty">
          Mục này không được để trống.
        </div>
        <div class="text-danger"
             *ngIf="updateForm.get('idCard').hasError('pattern')">
          Số chứng minh nhân dân không hợp lệ.
        </div>
      </div>
      <div class="col-md-3">
        <label for="customerPhone" class="form-label">Điện thoại</label>
        <input type="text" class="form-control" id="customerPhone" required="required" formControlName="phone">
        <div class="text-danger"
             *ngIf="updateForm.get('phone').hasError('required') && updateForm.get('phone').dirty">
          Mục này không được để trống.
        </div>
        <div class="text-danger"
             *ngIf="updateForm.get('phone').hasError('pattern')">
          Số điện thoại không hợp lệ.
        </div>
      </div>

      <div class="col-md-3">
        <label for="customerEmail" class="form-label">Email</label>
        <input type="email" class="form-control" id="customerEmail" required="required" formControlName="email">
        <div class="text-danger"
             *ngIf="updateForm.get('email').hasError('required') && updateForm.get('email').dirty">
          Mục này không được để trống.
        </div>
        <div class="text-danger"
             *ngIf="updateForm.get('email').hasError('email')">
          Email không hợp lệ.
        </div>
      </div>

      <div class="col-md-3">
        <label for="customerAddress" class="form-label">Lương</label>
        <input type="text" class="form-control" id="customerAddress" required="required" formControlName="salary">
        <div class="text-danger"
             *ngIf="updateForm.get('salary').hasError('required') && updateForm.get('salary').dirty">
          Mục này không được để trống.
        </div>
      </div>

      <div class="col-md-3">
        <label for="inputState" class="form-label">Bộ phận làm việc</label>
        <select id="inputState" class="form-select" formControlName="position">
          <option disabled selected>-- Chọn bộ phận --</option>
          <option *ngFor="let item of positionList" value="{{item}}">{{item.name}}</option>
        </select>
      </div>

      <div class="col-md-3">
        <label for="education" class="form-label">Trình độ học vấn</label>
        <select id="education" class="form-select" formControlName="education">
          <option disabled selected>-- Chọn trình độ --</option>
          <option *ngFor="let item of educationList" value="{{item}}">{{item.name}}</option>
        </select>
      </div>

      <div class="col-md-3">
        <label for="division" class="form-label">Chức vụ</label>
        <select id="division" class="form-select" formControlName="division">
          <option disabled selected>-- Chọn chúc vụ --</option>
          <option *ngFor="let item of divisionList" value="{{item}}">{{item.name}}</option>
        </select>
      </div>


      <div class="col-12">
        <button type="submit" class="btn btn-primary" [disabled]="updateForm.invalid">Xác nhận</button>
      </div>
    </form>
  </div>

</div>
