<div class="container">
  <div class="row">
    <div class="col-12">
        <div class="p-2 flex-grow-1 bd-highlight">
          <a type="button" class="btn btn-primary " [routerLink]="['/contract/create']">Thêm mới hợp đồng</a>
        </div>

      <div class="row">
        <h2 class="text-center">DANH SÁCH HỢP ĐỒNG</h2>

        <table class="table table-striped table-hover">
          <thead>
          <tr>
            <th scope="col">Mã hợp đồng</th>
            <th scope="col">Khách hàng</th>
            <th scope="col">Dịch vụ</th>
            <th scope="col">Nhân viên</th>
            <th scope="col">Ngày bắt đầu</th>
            <th scope="col">Ngày kết thúc</th>
            <th scope="col">Tiền đặt cọc</th>
            <th scope="col">Tổng tiền thanh toán</th>

          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of contractList">
            <td>{{item.id}}</td>
            <td>{{item.customer.name}}</td>
            <td>{{item.facility.name}}</td>
            <td>{{item.employee.name}}</td>
            <td>{{item.startDay}}</td>
            <td>{{item.endDay}}</td>
            <td>{{item.deposits}}</td>
            <td>{{item.totalPaymentAmount}}</td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
