<div class="container">
  <div class="row">
    <h2 class="text-center">THÊM MỚI DỊCH VỤ</h2>
    <form class="row g-3" [formGroup]="createForm" (ngSubmit)="createFacility()">

      <div class="col-md-4">
        <label for="id" class="form-label">Mã dịch vụ</label>
        <input type="text" class="form-control" id="id" required="required" formControlName="id">
        <div class="text-danger"
             *ngIf="createForm.get('id').hasError('required') && createForm.get('id').dirty">
          Mục này không được để trống.
        </div>
        <div class="text-danger"
             *ngIf="createForm.get('id').hasError('pattern')">
          ID không hợp lệ.
        </div>
      </div>

      <div class="col-md-4">
        <label for="name" class="form-label">Tên dịch vụ</label>
        <input type="text" class="form-control" id="name" required="required" formControlName="name">
        <div class="text-danger"
             *ngIf="createForm.get('name').hasError('required') && createForm.get('name').dirty">
          Mục này không được để trống.
        </div>
      </div>

      <div class="col-md-4">
        <label for="area" class="form-label">Diện tích sử dụng</label>
        <input type="text" class="form-control" id="area" required="required" formControlName="area">
        <div class="text-danger"
             *ngIf="createForm.get('area').hasError('required') && createForm.get('area').dirty">
          Mục này không được để trống.
        </div>
        <div class="text-danger"
             *ngIf="createForm.get('area').hasError('min')">
          Mục này không nhận giá trị âm.
        </div>
      </div>

      <div class="col-md-4">
        <label for="cost" class="form-label">Giá dịch vụ</label>
        <input type="text" class="form-control" id="cost" required="required" formControlName="cost">
        <div class="text-danger"
             *ngIf="createForm.get('cost').hasError('required') && createForm.get('cost').dirty">
          Mục này không được để trống.
        </div>
        <div class="text-danger"
             *ngIf="createForm.get('cost').hasError('min')">
          Mục này không nhận giá trị âm.
        </div>
      </div>

      <div class="col-md-4">
        <label for="numberMaxOfPeople" class="form-label">Số người tối đa</label>
        <input type="text" class="form-control" id="numberMaxOfPeople" required="required" formControlName="numberMaxOfPeople">
        <div class="text-danger"
             *ngIf="createForm.get('numberMaxOfPeople').hasError('required') && createForm.get('numberMaxOfPeople').dirty">
          Mục này không được để trống.
        </div>
        <div class="text-danger"
             *ngIf="createForm.get('numberMaxOfPeople').hasError('min')">
          Mục này không nhận giá trị âm.
        </div>
      </div>

      <div class="col-md-4">
        <label for="rentType" class="form-label">Kiểu thuê</label>
        <select id="rentType" class="form-select" formControlName="rentType">
          <option disabled selected>-- Chọn kiểu thuê--</option>
          <option *ngFor="let item of rentTypeList" value="{{item}}">{{item.name}}</option>
        </select>
      </div>

      <div class="col-md-4">
        <label for="roomStandard" class="form-label">Tiêu chuẩn phòng</label>
        <input type="text" class="form-control" id="roomStandard" required="required" formControlName="roomStandard">
        <div class="text-danger"
             *ngIf="createForm.get('roomStandard').hasError('required') && createForm.get('roomStandard').dirty">
          Mục này không được để trống.
        </div>
      </div>

      <div class="col-md-4">
        <label for="description" class="form-label">Mô tả thêm</label>
        <input type="text" class="form-control" id="description" required="required" formControlName="description">
        <div class="text-danger"
             *ngIf="createForm.get('description').hasError('required') && createForm.get('description').dirty">
          Mục này không được để trống.
        </div>
      </div>

      <div class="col-md-4">
        <label for="poolArea" class="form-label">Số người tối đa</label>
        <input type="text" class="form-control" id="poolArea" required="required" formControlName="poolArea">
        <div class="text-danger"
             *ngIf="createForm.get('poolArea').hasError('min')">
          Mục này không nhận giá trị âm.
        </div>
      </div>

      <div class="col-md-4">
        <label for="numberOfFloor" class="form-label">Số tầng</label>
        <input type="text" class="form-control" id="numberOfFloor" required="required" formControlName="numberOfFloor">
        <div class="text-danger"
             *ngIf="createForm.get('numberOfFloor').hasError('min')">
          Mục này không nhận giá trị âm.
        </div>
      </div>

      <div class="col-md-4">
        <label for="freeAccompanyingService" class="form-label">Số người tối đa</label>
        <input type="text" class="form-control" id="freeAccompanyingService" required="required" formControlName="freeAccompanyingService">
      </div>

      <div class="col-12">
        <button type="submit" class="btn btn-primary" [disabled]="createForm.invalid">Xác nhận</button>
      </div>
    </form>
  </div>

</div>
